/*css reset*/

* {
    margin: 0;
    padding: 0
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.clearfix {
    *zoom: 1;
}

body {
    color: #333;
    font-size: 1rem;
    line-height: 21px;
    background: #fff;
}

button {
    outline-color: transparent;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse
}

ol,
ul,
li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

img {
    border: 0
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.wrapper {
    width: 100%;
    position: relative;
    background: #fff;
}

.nav-tabs {
    text-align: center;
    background: #fff;
}

.nav-block {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
}

.nav-block a {
    height: 38px;
    width: 100%;
    font-size: 16px;
    display: inline-block;
    min-width: 68px;
}

.nav-block.active a {
    color: #00aec7;
}

.wi-primary-bg a:after,
.nav-block a:hover:after {
    transform: scaleX(1) !important;
    opacity: 1 !important;
}

.wi-primary-bg a {
    font-weight: bold;
    color: #fff;
}

.nav-block a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    /* bottom: -8px;
    border-bottom: 4px solid #B91818; */
    -webkit-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    opacity: 0;
    z-index: 999;
    -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-title-underline {
    height: 3px;
    margin-top: -4px;
    width: 100%;
}

.chart-toolbar {
    position: absolute;
    width: 56px;
    right: 20px;
    bottom: 50px;
    font-size: 11px;
}

.chart-toolbar ul {
    width: 56px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #E8E8E9;
    background: #fff;
}

.chart-toolbar ul>li {
    height: 76px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 17px;
    line-height: 16px;
    border-bottom: 1px solid #ddd;
}

.chart-toolbar ul>li:last-child {
    border-bottom: none;
}

.chart-toolbar ul>li:hover,
.chart-toolbar ul>li.active {
    background: #50AFC6;
    color: #fff;
    margin-left: -1px;
    cursor: pointer;
}

.chart-toolbar ul>li span:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    margin: 0px auto;
    margin-bottom: 2px;
    background: url(../images/chart/toolbar.png) no-repeat;
}

.chart-toolbar .chart-header-rate span:before {
    background-position: 0 -32px;
}

.chart-toolbar .chart-header-rate:hover span:before {
    background-position: -32px -32px;
}

.chart-toolbar .chart-header-save span:before {
    background-position: -96px -32px;
}

.chart-toolbar .chart-header-save:hover span:before {
    background-position: -96px -64px
}

.chart-toolbar .chart-header-reload span:before {
    background-position: -64px -64px;
}

.chart-toolbar .chart-header-reload:hover span:before {
    background-position: -96px 0;
}

.chart-toolbar .chart-header-list span:before {
    background-position: 0px -64px;
}

.chart-toolbar .chart-header-list:hover span:before {
    background-position: 0 0;
}

.chart-toolbar .chart-header-export span:before {
    background-position: -32px 0px;
}

.chart-toolbar .chart-header-export:hover span:before {
    background-position: -32px -64px;
}

.chart-toolbar .chart-header-rate-other span:before {
    background-position: 0px -96px;
}

.chart-toolbar .chart-header-rate-other:hover span:before {
    background-position: -32px -96px;
}

.chart-toolbar .chart-header-rate-long span:before {
    margin-top: -7px;
}

.chart-toolbar .chart-header-important span:before {
    background-position: -64px 0px;
    margin-top: -7px;
}

.chart-toolbar .chart-header-important:hover span:before {
    background-position: -64px -32px;
    margin-top: -7px;
}

@keyframes chart-toolbar-kf {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0.2;
    }
}

@-moz-keyframes chart-toolbar-kf {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0.2;
    }
}

@-webkit-keyframes chart-toolbar-kf {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0.2;
    }
}

.chart-toolbar-left {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 120px;
    top: calc(50% - 80px);
    font-size: 18px;
    background: url(../images/Company/l.png);
    background-size: 100%;
    cursor: pointer;
    opacity: 0.8;
}

.chart-toolbar-right.animate,
.chart-toolbar-left.animate {
    animation: chart-toolbar-kf 2s infinite alternate;
    -moz-animation: chart-toolbar-kf 2s infinite alternate;
    -webkit-animation: chart-toolbar-kf 2s infinite alternate;
}

.chart-toolbar-right {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 120px;
    top: calc(50% - 80px);
    font-size: 18px;
    background: url(../images/Company/r.png);
    background-size: 100%;
    cursor: pointer;
    opacity: 0.8;
}

.content {
    position: relative;
    height: calc(100vh - 110px);
    padding-top: 10px;
}

.r-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.chart-yskzr {
    position: absolute;
    top: 20px;
    left: 100px;
}

.chart-yskzr div {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.chart-overflow-y {
    overflow-y: auto;
}

.chart-overflow-hidden {
    overflow: hidden;
}

.main {
    margin: 0 auto;
    width: 700px;
    padding: 45px;
    min-height: calc(100vh - 200px);
}

.node {
    cursor: pointer;
}


/* .node:hover circle,
.node:hover line {
    transform: scale(1.1);
}

.node:hover text {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 18px !important;
} */

.chart-loading,
.chart-none {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 150px;
    height: 30px;
}

.chart-loading img {
    vertical-align: middle;
    margin-right: 10px;
}

#companyChart {
    height: calc(100vh);
}

.text-insert {
    color: #00AEC7;
}

.bottom-content {
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: #aaa;
    border-top: 1px solid #bbb;
    background: #fefefe;
    padding-bottom: 5px;
    padding-top: 6px;
}

.chart-nav {
    display: none;
    position: absolute;
    width: 270px;
    left: 20px;
    top: 0;
    background: #fff;
    height: 350px;
    padding: 15px;
    box-sizing: border-box;
}

.chart-nav-btn {
    border: 0;
    color: #fff;
    padding: 2px 5px;
    line-height: 18px;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
    background: #ddd;
    margin-top: 10px;
}

.chart-nav>div {
    font-size: 1rem;
    margin: 20px 0;
}

.chart-nav span {
    color: #000;
    width: 70px;
    display: inline-block;
}

.chart-nav-first span {
    display: block;
}

.has-nav .chart-nav {
    display: block;
}

.chart-nav-no-margin .chart-nav-btn {
    margin-top: 0;
}

.has-nav .mao-screen-area {
    margin-left: 300px;
}

.mao-screen-area {
    background: #fff;
}

.has-nav .chart-loading,
.has-nav .chart-none {
    left: calc(50% + 50px);
}

.has-nav .chart-toolbar {
    display: none;
}

.has-nav .chart-first-toolbar {
    display: block;
}

.has-nav .chart-header {
    display: block;
}

.chart-first-toolbar {
    position: absolute;
    width: 46px;
    right: 130px;
    bottom: 40px;
    font-size: 18px;
    cursor: pointer;
}

.chart-first-toolbar ul {
    width: 138px;
    height: 46px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #f4f4f4;
}

.chart-first-toolbar ul>li {
    display: inline-block;
    width: 46px;
    height: 46px;
    text-align: center;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
    padding: 12px 10px 10px 10px;
}

.chart-first-toolbar ul>li:last-child {
    border-bottom: none;
}

.chart-first-toolbar ul>li span:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px auto;
}

.chart-first-toolbar #chartFirstOne span:before {
    background: url(../images/chart/refresh.png) no-repeat;
}

.chart-first-toolbar #chartFirstTwo span:before {
    background: url(../images/chart/big.png) no-repeat;
}

.chart-first-toolbar #chartFirstThree span:before {
    background: url(../images/chart/small.png) no-repeat;
}

.chart-first-toolbar ul>li:hover,
.chart-first-toolbar ul>li.active {
    background: rgba(80, 175, 198, 0.6);
    color: #fff;
    width: 46px;
}

.chart-header {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    z-index: 1;
    display: none;
}

.chart-header button {
    display: inline-block;
    min-width: 78px;
    height: 28px;
    margin-right: 10px;
    padding: 4px 5px;
    font-size: 14px;
    background: #fff;
    border-radius: 2px;
    color: #333;
    border: 1px solid #ddd;
    cursor: pointer;
}

.chart-header button:last-child {
    margin-right: 0;
}

.chart-header button:hover {
    border: 1px solid #00aec7;
    color: #00aec7;
}

.chart-header-list:focus,
.chart-header-save:focus {
    outline-color: transparent;
}

.chart-header-save i {
    background: url(../images/chart/save.png) no-repeat;
    width: 15px;
    height: 16px;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.chart-nav-rateset {
    border: none;
    border-bottom: 1px solid #000;
    width: 40px;
    outline-color: transparent;
    text-align: center;
    font-weight: bolder;
}

.toolbar-chartplatform {
    padding-right: 18px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-weight: bold;
}

.toolbar-chartplatform:after {
    content: 'Up';
    display: inline-block;
    position: absolute;
    color: #dc3023;
    font-size: xx-small;
    margin-top: -10px;
    font-weight: bold;
}

.chart-example {
    line-height: 25px;
    bottom: 35px;
    position: fixed;
    left: calc(50% - 120px);
    width: 240px;
    z-index: 1;
}

.chart-example span:nth-of-type(1) i {
    background: #f68717;
    border-radius: 8px;
    width: 27px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: sub;
}

.chart-example span:nth-of-type(2) i {
    background: #e26012;
    border-radius: 8px;
    width: 27px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: sub;
}

.chart-example span:nth-of-type(3) i {
    background: #2277a2;
    border-radius: 8px;
    width: 27px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: sub;
}

::-webkit-input-placeholder {
    color: #999;
}

.toolbar-more {
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: -10px;
}

.toolbar-more div {
    position: absolute;
    width: 100px;
    height: 80px;
    right: 0;
    background: #fff;
    z-index: 999;
    margin-top: -1px;
    display: none;
    border: 1px solid #F2F2F2;
    border-top: 0;
    border-right: 0;
}

.toolbar-more:hover .toolbar-more-list {
    display: block;
}

.toolbar-more:hover span {
    color: #77C4D4!important;
    background: url(../images/Company/more2.png) no-repeat;
}

.toolbar-more a {
    width: 100px;
    margin: 0;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.toolbar-more span {
    display: inline-block;
    background: url(../images/Company/more1.png) no-repeat;
    background-size: 100%;
    width: 26px;
    height: 14px;
    transform: translateY(2px);
}

.toolbar-more-list:hover {
    display: block;
}

.wi-link-color:hover {
    cursor: pointer;
    color: #77C4D4!important;
}

.content-gqjg-title {
    margin: 20px 0 10px 20px;
    display: inline-block;
}

.content-gqjg-title>div {
    width: 80%;
    word-break: break-word;
}

.content-gqjg-info-one,
.content-gqjg-info-three {
    color: #333;
    font-size: 16px;
    margin-right: 10px;
}

.content-gqjg-info-two,
.content-gqjg-info-four {
    color: #00aec7;
    font-size: 16px;
    font-weight: bold;
    margin-right: 40px;
}

.content-gqjg-info-two {
    cursor: pointer;
}