body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
th,
td,
iframe {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.clearfix {
    *zoom: 1;
}

.v-m {
    vertical-align: middle;
}

body {
    color: #3a3a3a;
    font-size: 1rem;
    line-height: 18px;
    background: #FAFAFA;
    overflow-y: scroll;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

ul {
    list-style: none;
}

a {
    color: #3a3a3a;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img {
    border: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.toolbar-logo,
.home_toolbar .toolbar-logo,
.content-toolbar ul>li span:before,
.toolbar-super:after,
.toolbar-highpro .toolbar-all:after,
.new-func-icon::after,
.new-allfunc-icon::after {
    background: url(../images/Company/web_sprite.png) no-repeat;
}

.home_toolbar .toolbar-logo {
    background: url('../images/Company/bg_rarenku2.png') no-repeat !important;
}

.toolbar-logo {
    background: url('../images/Company/bg_rarenku1.png') no-repeat !important;
}

.input-toolbar-button {
    background: url(../images/Company/new-search-icon.png) no-repeat;
}

.toolbar {
    height: 50px;
    background: #F4F4F4;
    text-align: right;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    margin-bottom: 10px;
    display: block;
    min-width: 1475px;
}

.toolbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
}

.wrapper {
    padding-top: 50px;
}

.toolbar-update {
    position: relative;
}

.toolbar-update:after {
    content: '';
    display: inline-block;
    background: #dc3023;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    position: absolute;
    top: 8px;
}

.toolbar>:last-child {
    margin-right: 200px !important;
}

.toolbar a {
    margin: 0 10px;
}

.toolbar h1 {
    float: left;
    width: 135px;
    margin-right: 20px;
    font-size: 26px;
    color: #333;
    display: none;
}

.toolbar h1 a {
    margin: 0;
}

.toolbar-search {
    width: 386px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 28px;
    padding-left: 12px;
    float: left;
    background: #fff;
    text-align: left;
    margin-top: 10px;
    box-shadow: 0 0 6px #D0CDCD;
    position: relative;
}

.toolbar-search .input-toolbar-search {
    height: 30px;
    border: none;
    width: 360px;
    outline: none;
    float: left;
}

.toolbar-search .key-down-sel {
    cursor: pointer;
    background-color: #f4f4f4;
    position: relative;
    color: #77C4D4!important;
}

.input-toolbar-button {
    height: 20px;
    width: 20px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-top: 5px;
}

.toolbar-logo {
    float: left;
    width: 240px;
    height: 34px;
    background-position: 0 -147px;
    margin: 10px 16px 0 200px !important;
    cursor: pointer;
}

.home_toolbar {
    background: none;
    border-bottom: none;
}

.home_toolbar .toolbar-logo {
    background-position: 0 -185px;
}

@media only screen and (min-width: 1900px) {
    .home_bg {
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 1475px) {
    .home_toolbar .toolbar-logo,
    .toolbar-logo {
        margin-left: calc(100vw - 1475px + 200px) !important;
    }
}

@media only screen and (max-width: 1300px) {
    .home_toolbar .toolbar-logo,
    .toolbar-logo {
        margin-left: 25px !important;
    }
    .toolbar>:last-child {
        margin-right: 205px !important;
    }
}

.home_toolbar a {
    color: #fff;
}

.toolbar-search .input-toolbar-before-search.active,
.toolbar-search .input-toolbar-search-list.active {
    display: block;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    font-family: "宋体"
}

.toolbar-search .input-toolbar-before-search,
.toolbar-search .input-toolbar-search-list {
    position: absolute;
    width: 398px;
    line-height: 32px;
    top: 31px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 6px #D0CDCD;
    display: none;
    font-size: 14px;
    z-index: 2;
}

#GobalSearch .input-toolbar-before-search,
#GobalSearch .input-toolbar-search-list {
    left: 248px;
    width: 707px;
}

.input-toolbar-before-search div,
.input-toolbar-search-list div {
    padding: 0 12px;
    border-bottom: 1px solid #E8E8E9;
    word-break: break-all;
}

.wind-locale-en-US .input-toolbar-before-search div {
    padding-right: 90px;
}

.input-toolbar-before-search div:last-child,
.input-toolbar-search-list div:last-child {
    border-bottom: none;
}

.input-toolbar-search-list div:first-child {
    font-weight: bold;
}

.toolbar-more {
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: -10px;
}

.toolbar-more div {
    position: absolute;
    width: 100px;
    height: 80px;
    right: 0;
    background: #fff;
    z-index: 999;
    margin-top: -1px;
    display: none;
    border: 1px solid #F2F2F2;
    border-top: 0;
    border-right: 0;
}

.toolbar-more:hover .toolbar-more-list {
    display: block;
}

.toolbar-more:hover span {
    color: #77C4D4!important;
    background: url(../images/Company/more2.png) no-repeat;
}

.toolbar-more a {
    width: 100px;
    margin: 0;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.toolbar-more span {
    display: inline-block;
    background: url(../images/Company/more1.png) no-repeat;
    background-size: 100%;
    width: 26px;
    height: 14px;
    transform: translateY(2px);
}

.toolbar-more-list:hover {
    display: block;
}

.toolbar-highpro {
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: -10px;
    position: relative;
}

.toolbar-highpro .toolbar-highpro-list {
    display: none;
    padding: 24px 20px 20px 25px;
    position: absolute;
    width: 520px;
    min-height: 500px;
    background: #fff;
    z-index: 999;
    margin-top: -1px;
    border: 1px solid #F2F2F2;
    right: -192px;
    cursor: default;
    text-align: left;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.toolbar-highpro:hover .toolbar-highpro-list {
    display: block;
}

.toolbar-highpro:hover .toolbar-all {
    color: #77C4D4!important;
}

.toolbar-highpro .toolbar-all {
    display: inline-block;
    width: 67px;
}

.toolbar-highpro-list:hover {
    display: block;
}

.home_toolbar .toolbar-highpro {
    color: #fff;
}

.toobar-function-title {
    text-align: left;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 18px;
    position: relative;
    height: 18px;
    margin-bottom: 8px;
    border-left: 4px solid #00aec7;
    width: 100%;
}

.toobar-function-title b {
    background: #fff;
    padding: 0 10px;
    color: #000;
}


/*.toobar-function-title:before{content: "";background-color: rgba(0, 174, 199, 0.3);display: inline-block;height: 1px;margin-right: 12px;margin-bottom: 5px;}
.toobar-function-title:after{content: "";background-color: rgba(0, 174, 199, 0.3);display: inline-block;height: 1px;margin-left: 12px;margin-bottom: 5px;}*/

.title-one {
    margin-top: 19px;
    margin-bottom: 20px;
}

.title-one:before {
    width: 162px;
}

.title-one:after {
    width: 162px;
}

.title-two:before {
    width: 146px;
}

.title-two:after {
    width: 146px;
}

.title-three:before {
    width: 138px;
}

.title-three:after {
    width: 138px;
}

.title-two,
.title-three {
    margin-top: 20px;
}

.toolbar-highpro-list a {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 58px;
    text-align: center;
    color: #333;
    line-height: 20px;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    margin: 14px 30px 0 0;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toolbar-highpro-list a:hover {
    background: #ebf9fb;
    color: #00aec7;
    font-weight: bold;
}

.toolbar-highpro-list a:before {
    content: '';
    display: block;
    background-image: url(../images/medicine/tool_select.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 0 6px 15px;
}

.toolbar-highpro-list a.company-icon:before,
.all-fun-block a.company-icon:before {
    background-position: 0 -720px;
}


/*查企业*/

.toolbar-highpro-list a.people-icon:before,
.all-fun-block a.people-icon:before {
    background-position: 0 -870px;
}


/*查风险*/

.toolbar-highpro-list a.quest-risk-icon:before,
.all-fun-block a.quest-risk-icon:before {
    background-position: 0 -1475px;
}


/*查政策*/

.toolbar-highpro-list a.policy-icon:before,
.all-fun-block a.policy-icon:before {
    background-position: 0 -1545px;
}


/* 集团系查询 */

.toolbar-highpro-list a.group-icon:before,
.all-fun-block a.group-icon:before {
    background-position: 0 -1580px;
}


/*api*/

.toolbar-highpro-list a.api-icon:before,
.all-fun-block a.api-icon:before {
    background-position: 0 -1440px;
}


/*查人物*/

.toolbar-highpro-list a.relation-icon:before,
.all-fun-block a.relation-icon:before {
    background-position: 0 -990px;
}


/*查关系*/

.toolbar-highpro-list a.judgment-icon:before,
.all-fun-block a.judgment-icon:before {
    background-position: 0 -1050px;
}


/*裁判文书*/

.toolbar-highpro-list a.dishonest-icon:before,
.all-fun-block a.dishonest-icon:before {
    background-position: 0 0;
}


/*失信人*/

.toolbar-highpro-list a.executee-icon:before,
.all-fun-block a.executee-icon:before {
    background-position: 0 -900px;
}


/*查老赖*/

.toolbar-highpro-list a.search-dishonesty-icon:before,
.all-fun-block a.search-dishonesty-icon:before {
    background-position: 0 -1617px;
}


/*反洗钱*/

.toolbar-highpro-list a.anti-money-icon:before,
.all-fun-block a.anti-money-icon:before {
    background-position: 0 -1650px;
}


/*被执行人*/

.toolbar-highpro-list a.court-icon:before,
.all-fun-block a.court-icon:before {
    background-position: 0 -1410px;
}


/*法院公告*/

.toolbar-highpro-list a.open-notice-icon:before,
.all-fun-block a.open-notice-icon:before {
    background-position: 0 -1080px;
}


/*开庭公告*/

.toolbar-highpro-list a.judicial-icon:before,
.all-fun-block a.judicial-icon:before {
    background-position: 0 -150px;
}


/*司法拍卖*/

.toolbar-highpro-list a.brand-icon:before,
.all-fun-block a.brand-icon:before {
    background-position: 0 -60px;
}


/*查商标*/

.toolbar-highpro-list a.patent-icon:before,
.all-fun-block a.patent-icon:before {
    background-position: 0 -480px;
}


/*查商标*/

.toolbar-highpro-list a.super-list-icon:before,
.all-fun-block a.super-list-icon:before {
    background-position: 0 -1510px;
}


/*查专利*/

.toolbar-highpro-list a.work-icon:before,
.all-fun-block a.work-icon:before {
    background-position: 0 -450px;
}


/*作品著作权*/

.toolbar-highpro-list a.soft-icon:before,
.all-fun-block a.soft-icon:before {
    background-position: 0 -270px;
}


/*软件著作权*/

.toolbar-highpro-list a.batch-output-icon:before,
.all-fun-block a.batch-output-icon:before {
    background-position: 0 -1170px;
}


/*批量导出*/

.toolbar-highpro-list a.batch-search-icon:before,
.all-fun-block a.batch-search-icon:before {
    background-position: 0 -1200px;
}


/*批量查询*/

.toolbar-highpro-list a.advanced-search-icon:before,
.all-fun-block a.advanced-search-icon:before {
    background-position: 0 -1380px;
}


/*高级搜索*/

.toolbar-highpro-list a.company-statistics-icon:before,
.all-fun-block a.company-statistics-icon:before {
    background-position: 0 -180px;
}


/*企业全景*/

.toolbar-highpro-list a.netcomper-icon:before,
.all-fun-block a.netcomper-icon:before {
    background-position: 0 -1110px;
}


/*竞争情报*/

.toolbar-highpro-list a.chartplathome-icon:before,
.all-fun-block a.chartplathome-icon:before {
    background-position: 0 -600px;
}


/*图谱平台*/

.toolbar-highpro-list a.risk-icon:before,
.all-fun-block a.risk-icon:before {
    background-position: 0 -210px;
}


/*企业风控*/

.toolbar-highpro-list a.stboard-icon:before,
.all-fun-block a.stboard-icon:before {
    background-position: 0 -1230px;
}


/*科创板*/

.toolbar-highpro-list a.tnb-icon:before,
.all-fun-block a.tnb-icon:before {
    background-position: 0 -690px;
}


/*新三板*/

.toolbar-highpro-list a.ipo-icon:before,
.all-fun-block a.ipo-icon:before {
    background-position: 0 -30px;
}


/*上市企业*/

.toolbar-highpro-list a.debt-icon:before,
.all-fun-block a.debt-icon:before {
    background-position: 0 -1290px;
}


/*发债企业*/

.toolbar-highpro-list a.icon-global-company:before,
.all-fun-block a.global-icon:before {
    background-position: 0 -330px;
}


/*全球企业*/

.toolbar-highpro-list a.query-project-icon:before,
.all-fun-block a.query-project-icon:before {
    background-position: 0 -840px;
}


/*查项目*/

.toolbar-highpro-list a.query-brand-icon:before,
.all-fun-block a.query-brand-icon:before {
    background-position: 0 -750px;
}


/*查品牌*/

.toolbar-highpro-list a.bid-icon:before,
.all-fun-block a.bid-icon:before {
    background-position: 0 -1713px;
}


/*招投标*/

.toolbar-highpro-list a.query-product-icon:before,
.all-fun-block a.query-product-icon:before {
    background-position: 0 -1020px;
}


/*查产品*/

.toolbar-highpro-list a.four-broad-icon:before,
.all-fun-block a.four-broad-icon:before {
    background-position: 0 -660px;
}


/*新四板*/

.toolbar-highpro-list a.p2p-icon:before,
.all-fun-block a.p2p-icon:before {
    background-position: 0 -960px;
}


/*P2P大全*/

.toolbar-highpro-list a.invest-icon:before,
.all-fun-block a.invest-icon:before {
    background-position: 0 -90px;
}


/*投资机构*/

.toolbar-highpro-list a.park-icon:before,
.all-fun-block a.park-icon:before {
    background-position: 0 -420px;
}


/*园区大全*/

.toolbar-highpro-list a.financing-icon:before,
.all-fun-block a.financing-icon:before {
    background-position: 0 -300px;
}


/*融资事件*/

.toolbar-highpro-list a.five-hundred-icon:before,
.all-fun-block a.five-hundred-icon:before {
    background-position: 0 -570px;
}


/*500强企业*/

.toolbar-highpro-list a.public-icon:before,
.all-fun-block a.public-icon:before {
    background-position: 0 -1350px;
}


/*公募基金*/

.toolbar-highpro-list a.private-icon:before,
.all-fun-block a.private-icon:before {
    background-position: 0 -120px;
}


/*私募基金*/

.toolbar-highpro-list a.bank-icon:before,
.all-fun-block a.bank-icon:before {
    background-position: 0 -630px;
}


/*银行*/

.toolbar-highpro-list a.insurance-icon:before,
.all-fun-block a.insurance-icon:before {
    background-position: 0 -930px;
}


/*保险公司*/

.toolbar-highpro-list a.stock-icon:before,
.all-fun-block a.stock-icon:before {
    background-position: 0 -360px;
}


/*海外风险企业*/

.toolbar-highpro-list a.global-risk-icon:before,
.all-fun-block a.global-risk-icon:before {
    background-position: 0 -1681px;
}


/*证券公司*/

.toolbar-highpro-list a.offered-icon:before,
.all-fun-block a.offered-icon:before {
    background-position: 0 -1140px;
}


/*基金公司*/

.toolbar-highpro-list a.future-icon:before,
.all-fun-block a.future-icon:before {
    background-position: 0 -240px;
}


/*期货公司*/

.toolbar-highpro-list a.showmore-icon:before {
    background-position: 0 -780px;
}


/*查看更多*/

.toolbar-highpro-list a.news-icon:before,
.all-fun-block a.news-icon:before {
    background-position: 0 -810px;
}


/*查新闻*/

.toolbar-highpro-list a.lawsQ-icon:before {
    background-position: 0 -1260px;
}


/*法律风险*/

.toolbar-highpro-list a.productQ-icon:before {
    background-position: 0 -540px;
}


/*项目品牌*/

.toolbar-highpro-list a.knowQ-icon:before {
    background-position: 0 -510px;
}


/*知识产权*/

.toolbar-highpro-list a.searchmap-icon:before,
.all-fun-block a.searchmap-icon:before {
    background-position: 0 -1320px;
}


/*地图查询*/

.toolbar-highpro-list a .newicon {
    width: 30px;
    height: 14px;
    position: absolute;
    display: block;
    right: -5px;
    top: -5px;
    background: url(../images/Company/newicon.png) no-repeat;
}

.title-four {
    margin-top: 16px;
}

.toolbar-highpro-list a.job-icon:before,
.all-fun-block a.search-job-icon:before {
    background-position: 0 -390px;
}


/*招聘查询*/

.toobar-second-title {
    text-align: left;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 14px;
    margin-top: 14px;
    height: 8px;
    margin-bottom: 8px;
}

.toobar-second-title i {
    background: #fff;
    padding-right: 12px;
    font-style: normal;
}

.toobar-second-title:after {
    content: '';
    background: #f2f2f2;
    display: block;
    width: 100% !important;
    height: 1px;
    margin-top: -8px;
}

.toobar-second-title b {
    background: #fff;
    padding: 0 5px;
}

.toobar-findFunc-title {
    text-align: left;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #00AEC7;
    line-height: 14px;
    margin-top: 16px;
    height: 8px;
    margin-bottom: 8px;
}

.toobar-findFunc-title a::before {
    display: none;
}

.toobar-findFunc-title a {
    height: 16px;
    width: 133px;
    display: block;
    margin: 0 auto;
    color: #00AEC7;
    font-weight: bold;
    font-size: 16px;
}

.wind-locale-en-US .toolbar-highpro .toolbar-all {
    width: 95px;
}

.wind-locale-en-US .toolbar-highpro {
    margin-right: 35px;
}


/*弹出框*/

.frame-background {
    position: relative;
    height: 160px;
    width: 650px;
    background-image: url(../images/Company/has-no-power.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.frame-background div {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding-top: 80px;
}

.frame-dec {
    font-size: 16px;
    margin-top: 55px;
    text-align: center;
    color: #00aec7;
}

.frame-cont {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    color: #00aec7;
    cursor: pointer;
}

.see-price-detail {
    color: #00aec7;
    cursor: pointer;
}

.see-price-detail:hover {
    color: #77C4D4!important;
}


/*弹出框*/


/* 用户中心 */

.toolbar-usercenter {
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.toolbar-usercenter .toolbar-usercenter-list {
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    display: none;
    position: absolute;
    width: 106px;
    background: #fff;
    z-index: 999;
    margin-top: -1px;
    border: 1px solid #F2F2F2;
    margin-left: -30px;
    cursor: default;
    text-align: left;
}

.toolbar-usercenter .toolbar-usercenter-list .wi-link-color {
    line-height: 40px !important;
}

.toolbar-usercenter:hover .toolbar-usercenter-list {
    display: block;
}

.toolbar-usercenter:hover .toolbar-usercenter-txt {
    color: #77C4D4 !important;
}

.toolbar-usercenter .toolbar-usercenter-txt {
    display: inline-block;
}

.toolbar-usercenter-list:hover {
    display: block;
}

.toolbar-usercenter-list a {
    display: block;
    text-align: center;
}

.home_toolbar .toolbar-usercenter-list a {
    color: #3a3a3a;
}

.home_toolbar .toolbar-usercenter-list {
    margin-left: -13px;
}


/*分页*/

.dataTables_paginate {
    float: right;
    text-align: right;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 30px;
    height: 22px;
    line-height: 20px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #999999;
    color: #000!important;
    font-family: inherit;
    font-size: 13px;
    border-radius: 2px;
    color: #fff;
    padding: 0 4px 0 4px;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #00AEC7!important;
    border: 1px solid #00AEC7;
    background: #fff!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    cursor: not-allowed;
    color: #666;
    border: 1px solid #BABABA;
    background: #fff;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 40px;
    margin: -40px auto 0 -70px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pagiate-page-num {
    height: 22px;
    line-height: 22px;
    width: 40px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #999999;
}


/*logo鼠标移动过去放大*/

.big-logo-model {
    position: absolute;
    z-index: 50;
    width: 140px;
    box-shadow: 0 0 5px #000;
    background: #fff;
    padding: 5px;
}

.big-logo-model img {
    width: 140px;
    float: left;
}


/* 反馈意见 */

.content-toolbar {
    position: fixed;
    width: 46px;
    right: 20px;
    bottom: 40px;
    font-size: 18px;
}

.content-toolbar ul {
    width: 48px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #E8E8E9;
    background: #fff;
}

.content-toolbar ul>li {
    width: 46px;
    height: 82px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
    padding: 17px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.content-toolbar ul>li:last-child {
    border-bottom: none;
}

.content-toolbar ul>li:hover,
.content-toolbar ul>li.active {
    cursor: pointer;
    background: #50AFC6;
    color: #fff;
}

.content-toolbar ul>li span:before {
    content: '';
    display: block;
    width: 24px;
    height: 32px;
    margin: 0px auto;
}

.content-toolbar-app {
    position: relative;
}

.content-toolbar .content-toolbar-feedback span:before {
    background-position: -64px -227px;
}

.content-toolbar .content-toolbar-feedback:hover span:before {
    background-position: -94px -227px;
}

.content-toolbar .content-toolbar-app span:before {
    background: url(../images/Company/appIcon.png) no-repeat center;
}

.content-toolbar .content-toolbar-app:hover span:before {
    background: url(../images/Company/appIcon2.png) no-repeat !important;
}

.content-toolbar .content-toolbar-top span:before {
    background-position: 0px -227px;
}


/* .content-toolbar .content-toolbar-top:hover span:before {
   background-position: -64px -227px;
} */

.deep-search {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 64px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border: 1px solid #DC3C00;
    color: #DC3C00;
    background: #fff;
    border-radius: 2px;
    padding-left: 36px;
}

.deep-search i {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-position: -60px -40px;
}

.deep-search-content {
    display: none;
    position: relative;
    width: 100%;
    padding-top: 80px;
    min-height: 500px;
    background: #fff;
}

.deep-search-form,
.deep-search-nodata {
    padding: 226px 80px 80px 170px;
    background: url(../images/Company/search-bg.png) no-repeat #fff center 0;
}

.deep-search-nodata {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #6f6f6f;
}

.deep-search-nodata a {
    font-size: 1rem;
    color: #DC3C00;
    text-decoration: underline;
}

.button-deep-search {
    width: 120px;
    height: 38px;
    line-height: 38px;
    background: #FE9D4E;
    border: none;
    cursor: pointer;
    color: #fff;
    vertical-align: middle;
}

.search-deep-input {
    width: 400px;
    height: 36px;
    border: 1px solid #DFDFDF;
    vertical-align: middle;
    border-right: none;
    padding: 0 10px;
}

.deep-search-city {
    display: none;
    width: 580px;
    position: absolute;
    left: 50%;
    top: 0;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    background: #fff;
    padding: 0 10px;
    margin: 100px 0 0 -290px;
}

.deep-search-city h3 {
    height: 40px;
    line-height: 40px;
    position: relative;
    font-weight: normal;
    border-bottom: 1px solid #dfdfdf;
    font-size: 16px;
}

.deep-search-city h3 i {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20px;
    background: #DFDFDF;
    right: 10px;
    top: 10px;
    color: #fff;
}

.deep-search-city li {
    line-height: 36px;
    font-size: 16px;
}

.deep-search-city li a {
    margin-right: 10px;
    cursor: pointer;
}

.loadEffect {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.loadEffect span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DC3C00;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(.3);
        opacity: 0.5;
    }
}

.loadEffect span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: 0.13s;
}

.loadEffect span:nth-child(2) {
    left: 14px;
    top: 14px;
    -webkit-animation-delay: 0.26s;
}

.loadEffect span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -10px;
    -webkit-animation-delay: 0.39s;
}

.loadEffect span:nth-child(4) {
    top: 14px;
    right: 14px;
    -webkit-animation-delay: 0.52s;
}

.loadEffect span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: 0.65s;
}

.loadEffect span:nth-child(6) {
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: 0.78s;
}

.loadEffect span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    -webkit-animation-delay: 0.91s;
}

.loadEffect span:nth-child(8) {
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s;
}

.print-report {
    right: 10px;
    position: absolute;
    top: 21px;
    cursor: pointer;
}

.app-download {
    display: none;
    width: 175px;
    height: 208px;
    background: url(../images/Company/app-download-bg.png) no-repeat;
    padding-right: 15px;
    right: 45px;
    top: -5px;
    position: absolute;
}

.app-ma2 {
    margin-top: 20px;
}

.text-app-download {
    line-height: 30px;
    color: #000!important;
}

.phone-download {
    width: 478px;
    float: right;
}

.app-ma {
    width: 140px;
    height: 140px;
    background: url(../images/Company/border-ma.png) no-repeat;
    padding: 10px;
    margin-right: 40px;
}

.app-ma img {
    width: 140px;
    height: 140px;
}

#commonFuncPoint a:nth-child(6) {
    margin: 14px 0 0 0;
}

#commonFuncPoint a:nth-child(12) {
    margin: 14px 0 0 0;
}

.uitlFunc a:nth-child(6) {
    margin: 14px 0 0 0;
}

.new-func-icon::after,
.toolbar-super:after,
.new-allfunc-icon::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 14px;
    width: 30px;
    background-position: -182px -128px;
    margin: -44px 0 0 -10px;
}

.new-allfunc-icon::after {
    margin: -7px 0 0 12px;
}

.toolbar-highpro .toolbar-all:after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 14px;
    width: 30px;
    background-position: -145px -128px;
    margin: 10px 0 0 0;
}

.toolbar-super {
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-right: 20px !important;
}

.toolbar-super:after {
    margin: 10px 0 0 0;
}

.home_toolbar>:last-child {
    margin-right: 200px;
    color: #fff;
}

.toolbar-link-color:hover {
    color: rgba(255, 255, 255, 0.8)!important;
}

.toolbar-usercenter:hover .toolbar-link-color {
    color: rgba(255, 255, 255, 0.8)!important;
}

.toolbar-highpro:hover .toolbar-link-color-all {
    color: rgba(255, 255, 255, 0.8)!important;
}

.toolbar-super:hover {
    color: #77c4d4!important;
}

.home_toolbar .toolbar-super:hover {
    color: rgba(255, 255, 255, 0.8)!important;
}

.tool-top-home {
    margin-top: -7px !important;
}

.focus-input {
    border: 1px solid #00aec7 !important;
}

.ellipsis-style {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toolbar-highpro-list .show-item-span {
    width: 60px;
    display: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navshowmore {
    color: #00AEC7;
    background: none;
    font-size: 16px;
    margin-right: 20px;
}

.showalltit {
    clear: both;
    overflow: hidden;
}

.wind-locale-en-US .content-toolbar ul>li {
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word;
}

.wind-locale-en-US .toolbar-highpro-list a {
    width: 84px !important;
    margin: 14px 2px 0 0 !important;
}

.wind-locale-en-US .toolbar-highpro-list a:before {
    margin: 0 0 6px 28px !important;
}

.wind-locale-en-US .toolbar-highpro-list .show-item-span {
    width: 84px !important;
    text-overflow: initial !important;
}

.wind-locale-en-US .new-func-icon::after {
    z-index: 99;
}