.company-card,.second-nav-list,.news-model,.company-banner{display: none;}
.company-card{display: none;}
#workspace{padding-top: 12px;}
.company-more-area{display: block;}
.risk-overview{display: none;}